* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Ambit';
    src: url(../content/fonts/Ambit\ Regular.otf);
}

@font-face {
    font-family: 'AmbitBold';
    src: url(../content/fonts/Ambit\ Bold.otf);
}

@font-face {
    font-family: 'AmbitSemiBold';
    src: url(../content/fonts/Ambit\ SemiBold.otf);
}

@font-face {
    font-family: 'AmbitLight';
    src: url(../content/fonts/Ambit\ Light.otf);
}

:root {
    --ctaRed: #D30D14;
    --ctaBlue: #0B49F4;
    --textBlue: #1A115A;
    --bgWhite: #FFFFFF;
    --bgBlue: #E3F5FD;
    --bgGreen: #C4E3CC;
}